<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1280, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LiuliReader</title>
  <link rel="stylesheet" href="style/bootstrap.min.css">
  <link rel="stylesheet" href="style/index.css">
  <script>
    window.$ = window.jQuery = require("./lib/jquery.min.js")
  </script>
  <script src="lib/bootstrap.bundle.min.js"></script>
</head>
<body>
<div id="app" class="container-fluid">
  <div class="row">
    <!-- Main nav bar -->
    <div class="col-sm-4 hacg-block">
      <div class="list-group">
        <a href="javascript:;" class="list-group-item list-group-item-action" :class="{ active: head === key }" @click="item_click" v-for="(item, key) of articles">{{item.title}}</a>
        <a href="javascript:;" class="list-group-item list-group-item-action" @click="load_more">More...</a>
      </div>
    </div>
    <!-- End -->

    <!-- Article area -->
    <div class="col-sm-8 hacg-block">
      <div class="card">
        <img :src="article.img" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title">{{article.title}}</h4>
          <p class="card-text">{{article.description}}</p>
          <button :disabled="action_disabled" class="btn btn-info" data-toggle="modal" data-target="#magnet" @click="get_magnet">获取磁力链接</button>
          <button :disabled="action_disabled" class="btn btn-primary right" data-toggle="modal" data-target="#article">进入文章页面</button>
        </div>
      </div>
    </div>
    <!-- End -->

    <!-- Article explorer -->
    <div class="modal fade" id="article">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <iframe :src="iframe_src" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

    <div id="information_wrap">
      <!-- Success and failure icon -->
      <div class="success" style="display:none;">
        <img src="resources/success.svg" class="success-image">
        Succeeded
      </div>
      <div class="failure" style="display:none;">
        <img src="resources/failure.svg" class="failure-image">
        Failed
      </div>
      <!-- End -->

      <!-- Magnet link selector -->
      <div class="modal fade" id="magnet">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">选择磁力链接...</h4>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="list-group">
                <a href="javascript:;" data-dismiss="modal" @click="copy_to_clipboard" class="list-group-item" v-for="magnet of magnet_links">{{magnet}}</a>
              </div>
            </div>
            <div class="modal-footer">
              <span class="text-muted small" v-if="getting_magnet_link">正在获取中</span>
              <span class="text-muted small" v-if="magnet_link_error">获取磁力链接失败</span>
              <button class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>
<script src="dist/index.bundle.js"></script>
</body>
</html>
